{% extends 'layout.html' %}

{% block title %}Webcam{% endblock %}

{% block content %}
    <div class="text-center justify-center items-center mt-5">
      <h1 class="text-white text-4xl font-bold">
        Webcam Face Recognition
      </h1>      
      <div class="flex items-center justify-center mt-5 h-[500px]" id="loading">
        <div>
          <h1 class="text-white text-2xl font-bold">
            Loading Webcam
          </h1>
          <div class="flex text-center justify-center">
            <h1 class="dot one text-white text-7xl font-bold inline relative mx-3 -top-[0.5em]">
              .
            </h1>
            <h1 class="dot two text-white text-7xl font-bold inline relative mx-3 -top-[0.5em]">
              .
            </h1>
            <h1 class="dot three text-white text-7xl font-bold inline relative mx-3 -top-[0.5em]">
              .
            </h1>
            <h1 class="dot four text-white text-7xl font-bold inline relative mx-3 -top-[0.5em]">
              .
            </h1>
          </div>
        </div>
      </div>
      <div class="flex-wrap justify-center items-center my-5 hidden h-[500px]" id="video">
        <img src="{{ url_for('video') }}" alt="frame" class="" onload="hide_loading('loading')">
      </div>
    </div>
{% endblock %}
